.App-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: auto;
  padding: 5vh;
  justify-content: center;
}
 

.headerNav {
  display: grid;
  padding-left: center;
  justify-items: space-evenly;
  text-align: center;
  grid-column: 3 / span 12;
}


.headerNav ul {
  display: flex;
  justify-content: space-between; 
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 5 / span 12;
  align-items: center;
}


.hamburger {
  display: none;
}


.heroSection {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* margin: 0 auto 0 auto; */
  grid-auto-rows: minmax(auto, 10vh);
  grid-gap: 1em;
  background-color: #495E57;
  width: 100%;
  color: white;
  /* position: relative; */
  /* justify-items: stretch;
  align-items: stretch; */

/*   grid-template-rows: repeat(3, 100px);
 */  /* justify-items:stretch; */
/*   min-height: 15vh;
 */  
  /* justify-content: space-between;  */
/*   font-size: calc(10px + 2vmin);
 */  
}

.heroTitle {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  margin-left: 25vh;
  /* background-color: antiquewhite; */
  /* position: absolute; */

  /* padding: 10px; */
  /* align-self: start; */
}

.heroCity {
  grid-column: 1 / 13;
  grid-row: 3 / 2;
  padding: 0;
  margin-left: 25vh;
  /* padding: 10px; */
}

.heroDescription {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  margin-left: 25vh;
  /* background-color: rgb(165, 167, 167); */
}


.heroButton{
  grid-column: 1 / 13;
  margin-left: 25vh;
}

.heroButton button {
  background-color: #f4ce14;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 3px 2px;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
}


.heroButton button:hover {
  background-color: #ee9972;
  color: white;
  border: 2px solid #f4ce14;
}



.heroImage{
  grid-column: 8 / 13;
  grid-row: 4 / 2;
}


.heroImage img{
  grid-column: 8 / 12;
  grid-row: 4 / 2;
  border-radius: 40px 15px 40px 15px;
  box-shadow: rgb(96, 96, 96) 3px 3px 8px;
  border-top: rgb(135, 135, 135) solid 3px;
}


/* .heroTitle {
  align-self: start;
} */

/* .heroCity {
  align-self: start;
} */

/* .heroDescription {
  align-self: start;
} */

/* .heroImage {
  justify-self: end;
} */

/* .heroButton {
  background-color: #f4ce14;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
} */


/* Media query for smaller screens */
@media screen and (max-width: 940px) {
  .headerNav {
    display: none;
  }

  .hamburger {
    display: grid;
    padding-left: center;
    text-align: center;
    grid-column: 12 / span 3;  
  }
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .heroSection .App-header{
    grid-template-columns: 1fr; /* Single column layout on small screens */
  }
}