
.heroSection{
  display:grid;
  /* grid-template-columns: repeat(auto-fit, minmax(400px, 2fr)); */
/*   grid-template-rows: 30rem auto;
 */  justify-content: center;
  align-items: center; 
  background-color: var(--primaryColor2);
  width: 100vw;
  color: rgb(255, 255, 255);
  height: 50vh;

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  height: 75vh;
  background-color: #98a09d;
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  height: 50vh;
  background-color: #3dab83;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  height: 60vh;
  background-color: #5b8997;
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  height: 55vh;
  background-color: #aa8119;
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  height: 60vh;
  background-color: var(--primaryColor2)
}
}


.heroContent{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  grid-template-rows: auto;
  /* grid-template-areas: heroLeft heroLeft
  heroRight heroRight; */
  gap: 1rem;
  align-items: center;
  justify-items: center;
  width: 80vw;
} 


 .heroLeft{
  text-align: left;
/*   align-self: flex-start;
 */  padding: 0;


  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  padding-top: 1rem;
  margin: 1rem;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  padding-top: 1rem;
  margin: 1rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  padding-top: 1rem;
  margin: 1rem;
} 
} 

 .heroTitle h1{
  font-size: 5rem;
  color: var(--primaryColor1);

    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  font-size: 3rem;
  }

  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  font-size: 5rem;
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    font-size: 4rem;
} 

@media only screen and (min-width: 1200px) {
    font-size: 5.5rem;
} 
}

.heroCity h2{
  font-size: 3rem;
  color: white;
  transform: translateY(-1rem);
  
    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  font-size: 2rem;
  }

 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  font-size: 3rem;
} 

@media only screen and (min-width: 1200px) {
    font-size: 4rem;
} 
}

.heroDescription{
  padding-top: 2rem;

    /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  padding-top: 0.4rem;
  }
}

 .heroDescription p {
  max-width: 40ch;
  min-width: 30ch;
  line-height: clamp(1.6rem, 1.4rem, 2rem);
  font-size: 1em;

  @media only screen and (min-width: 1200px) {
    font-size: 1.2rem;
} 
}

 .heroButton{
  padding-top: 3vh;
}
 

.heroButton button{
  background-color: #f4ce14;
  border: none;
  color: rgb(0, 0, 0);
  padding: 1em 4em;
  text-align: center;
  text-decoration: none;
  width: 18em;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5em;
}

 .heroButton button:hover {
  background-color: #ee9972;
  color: white;
}


.heroImage{

}

.heroRight img{
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 40px 15px 40px 15px;
  box-shadow: rgb(96, 96, 96) 3px 3px 8px;
  border-top: rgb(135, 135, 135) solid 3px;
  /* transform: translateY(6vh); */

     /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    width: 90%;
    border-radius: 20px 15px 20px 15px;
    box-shadow: rgb(96, 96, 96) 3px 3px 8px;
    transform: translateY(-1vh)
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 90%;
    border-radius: 20px 15px 20px 15px;
    box-shadow: rgb(96, 96, 96) 3px 3px 8px;
    transform: translateY(-1vh)
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    width: 80%;
    border-radius: 20px 15px 20px 15px;
    box-shadow: rgb(96, 96, 96) 3px 3px 8px;
    transform: translateY(-1vh)
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 40px 15px 40px 15px;
    box-shadow: rgb(96, 96, 96) 3px 3px 8px;
    border-top: rgb(135, 135, 135) solid 3px;
    transform: translateY(1vh);
} 

@media only screen and (min-width: 1200px) {
    width: 80%;
    height: auto;
    object-fit: cover;
    border-radius: 40px 15px 40px 15px;
    box-shadow: rgb(96, 96, 96) 3px 3px 8px;
    border-top: rgb(135, 135, 135) solid 3px;
    transform: translateY(6vh);
} 
}
