 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Herostyles-v3.css">
  <title>Hero-v2</title>
 </head>

 <body>


  <div class="Hero-container">
      <h1>Little Lemon</h1>

      <div class="ag ag1">
			  <h2>Chicago</h2>
	    </div>

    <div class="ag ag2">

          <div class="ag ag4">
			    	<p>We are a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist.</p>
			  	</div>
			  	<div class="ag ag6">
			    	<button class="Herobtn">Reserve a Table</button>
			  	</div>

    </div>

    <div class="ag ag3">
		<div class='heroImage'>
          <img src = "heroimage.jpg"
           alt="Little Lemon Restaurant" />
        </div>
	</div>

  </div>


 


 </body>

 </html>