.about {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    height: 100vh;   
    flex-direction: column;
    width: 100vw; 
    margin: 0 auto;
    position: static;
}

.about__container {
    margin: auto;
    padding: 5vh;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.about__container > h1{
    font-size:5vw;
}
