.App-footer{
  background-color: var(--primaryColor2);
  width: 100vw;
  height: 30vh;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
/* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  transform: translateY(30vh);
  display: flex;
  flex-direction: column;
}
}

.footerNav{
  display: flex;
  flex-direction: column;
  /* justify-self: left; */
}


.nav-item{
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 1vh 2vh;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
  font-size: 1.1rem;
}
}

.nav-item:hover {
 color: var(--primaryColor2);
 background-color: wheat;
}


.footerContact{
  color: white;
  display: flex;
  flex-direction: column;
}

.footerSocial{
  color: white;
  display: flex;
  flex-direction: column;
}


.footerCopyright{
  grid-column: 2;
  color: white;
  align-items: center;
  transform: translateX(11rem);
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  transform: translateY(1rem);
  /* display: flex;
  flex-direction: column; */
}
}