
/* .home {
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100vh;   
    flex-direction: column;
    width: 100vw; 
    margin: 0 auto;
    position: static;
}

.home__container {
    margin: auto;
    padding: 5vh;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.home__container > h1{
    font-size:5vw;
}
 */