.registration{
  display: flex;
  flex-direction: column;
/*   margin: 4rem;
 */  /* margin-top: 7vh; */
  background-color: var(--secondaryColor3);
  padding: 3rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
}


.loginForm{
  padding: 4rem;
  margin: 2rem;
  border: white solid 0.7rem;
}


/* .loginForm fieldset{
  width: 50vw;
  padding: 3rem;
  border: solid 0.2rem white;
 } */


 .signup{
  font-size: 2rem;
  font-family: karla, sans-serif;
/*   padding: 0.6rem;
 */ }


.firstName{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}


.lastName{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content:center;
}



.email{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}


.signup-password{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}


.loginForm label{
  width: 7vw;
  text-align: left;
}


.loginForm input{
  width: 15rem;
  height: 1.5rem;
  background-color: white;
  border: 0;
  padding: 0.5rem;
}


.forgot-password{
font-size: 1rem;
padding: 1.3rem;
}


.forgot-password span{
color: var(--primaryColor2);
cursor: pointer;
font-size: 1rem;
font-weight: bold;
}


.forgot-password span:hover{
color: var(--secondaryColor1);
cursor: pointer;
}


.submit-container{
  display: flex;
  flex-direction: row;
  padding: 1rem;
}


.submit-container button{
  background-color: var(--primaryColor2);
  border: none;
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 13em;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5em;
  margin: 0 auto;
}


 .submit-container button:hover {
  background-color: var(--secondaryColor1);
  color: white;
}

form{
  padding: 2rem;
}

/* .gray{
  background-color: rgb(188, 188, 188);
  color: rgb(118, 117, 119);
}
 */
/* .noHover{
    pointer-events: none;
} */


.switchform-btn{
  background-color: transparent;
  border: none;
  color: var(--primaryColor2);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  width: 20em;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
}


.switchform-btn:hover{
  color: var(--secondaryColor1);
}