.navbar {
 height: 12vh;
 background-color: #ffffff;
/*  position: relative;
 */ /* position: fixed; */ /* Fixes the navbar to the viewport */
  top: 0;          /* Positions it at the very top */
  left: 0;         /* Stretches it from left */
  right: 0;        /* to right */
  width: 100%;     /* Ensures it takes the full width */
  z-index: 1000;
  padding: 0 6vh 0 6vh;
}


header {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 12vh;
 background-color: white;
 color: rgb(0, 0, 0);
 gap: 4rem;
}

.header_logo {
 width: 24vh;
 object-fit: contain;
 margin: 1vh 3vh;
 margin-top: 8px;
 background-color: white;
}

nav {
/*  padding: 0 16vh 0 16vh;
 */ height: 100%;
 display: flex;
 list-style-type: none;
 /* cursor: pointer; */
}

ul{
  display: flex;
  flex-direction: row;
}

.nav-element {
 font-size: 1rem;
 color: #000000;
 text-decoration: none;
 margin-top: auto;
 margin-bottom: auto;
 padding: 1vh 3vh;

 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 font-size: 1.1rem;
}
}

.nav-element:hover {
 color: white;
 background-color: var(--primaryColor2);
}

header .nav-btn {
 padding: 5px;
 cursor: pointer;
 background: transparent;
 border: none;
 outline: none;
 color: var(--secondaryColor3);
 display: none;
 opacity: 0;
 font-size: 1.8rem;
}

header div,
nav {
 display: flex;
 align-items: center;
}

 .signin_but {
 padding: 0.6vh 1.2vh;
 border-radius: 5px;
 border: 0.3vh solid var(--primaryColor2);
}

 .signin_but:hover {
 background-color: var(--primaryColor2);
 color: white;
}

@media only screen and (max-width: 940px) {

  .navbar {
 height: 9vh;
 padding: 0 4vh 0 4vh;
}

header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 8.5vh;
 background-color: var(--primaryColor1);
 color: rgb(177, 123, 15);
}

 header .nav-btn {
  display: inline;
  opacity: 1;
 }

 header nav {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--secondaryColor1);
  transition: 1s;
 }

 nav {
  padding: 0 5vh 0 5vh;
  height: 70%;
  display: flex;
  list-style-type: none;
 }

 .nav-element {
  font-size: 2vh;
  color: #ffffff;
  text-decoration: none;
  margin: 0.2vh;
 }

.nav-element:hover {
  color: var(--secondaryColor1);
 }


 header .responsive_nav {
  transform: translateY(100vh);
  height: 40vh;
 }

 nav .nav-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
 }

 .header_logo {
  width: 12vh;
  object-fit: contain;
  margin: 0 2vh;
  margin-top: 8px;
 }

 nav Link {
  font-size: 1.5rem;
 }

 /* .signin_but {
  padding: 0.6vh 1.2vh;
  border-radius: 5px;
  border: 0.3vh solid rgb(255, 255, 255);
 } */

 /* .signin_but:hover {
  border-color: var(--secondaryColor1);
 } */
}

/* @media only screen and (min-width: 992px) {
 
 .navbar {
 height: 9vh;
 background-color: #e9e18a;
 padding: 0 2vh 0 2vh;
}

header {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 8.5vh;
 background-color: var(--primaryColor2);
}

}  */
