main{
  display:grid;
  grid-template:
  "title title onlineMenu-btn"   200px 
  "container container container" 90vh/auto;
/*   grid-column-gap: 1em;
 */  align-items: center;
}

.order-online{
  /* place-items: center; */
  /* text-align: center; */
  width: 85vw;
  padding: 3rem;
  margin: 2rem; 
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  width: 90vw;
  padding: 1rem;
  margin: 0.6rem; 
}
}


 .title{
  grid-area: title;
}


 .specials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}


.title{
  width: 50vw;
/*   float: left;
 */  text-align: left;
  padding-left: 6rem;
}


h1{
  font-size: 4em !important;
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  font-size: 2.7rem;
}
}

/* .onlineMenu-btn{
  grid-area: onlineMenu-btn;
} */

.onlineMenu-btn{
  grid-area: onlineMenu-btn;
  width: 40vw;
/*   float: right;
 */  /* Extra small devices (phones, 600px and down) */
 /* @media only screen and (max-width: 600px) {
  transform: translateY(16vh);
  }*/
} 


.onlineMenu-btn{
  background-color: #f4ce14;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.7em 3em;
  text-align: center;
  text-decoration: none;
  width: 14em;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5em;
}


.onlineMenu-btn:hover {
  background-color: #ee9972;
  color: white;
} 

.container{
  grid-area: container;
  /* display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 2rem;
  margin: 1rem; */
  display: grid;
  border: 1px solid #c5c3c3;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
  margin: 1rem;
}


 .card{
  background-color: var(--secondaryColor2);
  border-radius: 10px;
  padding-bottom: 4vh;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
}  


 .card img{
  width: 100%;
  height: auto;
  padding-bottom: 3vh;
  margin: 0;
  justify-content: center;
}

.card h3{
  color: #6b3c3c;
  margin-bottom: 2vh;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  padding: 1vh;
}

.card p{
  color: #6b3c3c;
  margin-bottom: 2vh;
  padding: 1vh;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.card .btn{
  background-color: #6b3c3c;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.card .btn:hover{
  background-color: #c7c2c2;
  color: #6b3c3c;
}

.cardButton{
  text-align: left;
  margin-left: 10px;
  padding-left: 1vh;
}


.cardIcon{
  width: 10%;
  margin-right: 20px;
  margin-top: -34px;
  float: right;
  position: relative;
}


