main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(10vh);
     /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  transform: translateY(1vh);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  transform: translateY(8%);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  transform: translateY(12vh);
}
}


.specials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  display: flex;
  flex-direction: row;
  gap: 6rem;
}
}


.specials h1{
  font-size: 3.5em;
  font-weight: normal;
  color: var(--secondaryColor4);
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  font-size: 1.8rem !important;
}
}


.onlineMenu-btn{
  grid-area: onlineMenu-btn;
 /*Extra small devices (phones, 600px and down)*/
 /* @media only screen and (max-width: 600px) {
   width: 46vw;
} */
}


.onlineMenu-btn{
  background-color: #f4ce14;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.7em 3em;
  text-align: center;
  text-decoration: none;
  width: 14em;
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: bold;
  cursor: pointer;
  border-radius: 1.5em;
}


.onlineMenu-btn:hover {
  background-color: var(--secondaryColor1);
  color: rgb(255, 255, 255);
} 


.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 70%;
}



 .card{
  background-color: var(--secondaryColor2);
  border-radius: 10px;
  padding-bottom: 4vh;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
} 


.card img{
  width: 100%;
  height: auto;
  padding-bottom: 3vh;
  margin: 0;
  justify-content: center;
}

.card h3{
  color: var(--secondaryColor4);
  margin-bottom: 2vh;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  padding: 1vh;
}


.card p{
  color: var(--secondaryColor4);
  margin-bottom: 2vh;
  padding: 1vh;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.card .btn{
  background-color: var(--primaryColor1);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.card .btn:hover{
  background-color: var(--secondaryColor1);
  color: #ffffff;
}

.cardButton{
  text-align: left;
  margin-left: 10px;
  padding-left: 1vh;
}


.cardIcon{
  width: 10%;
  margin-right: 20px;
  margin-top: -34px;
  float: right;
  position: relative;
}
