main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(10vh);
     /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  transform: translateY(1vh);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
  transform: translateY(8%);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  transform: translateY(12vh);
}
}


.testimonials{
  background-color: var(--secondaryColor2);
  margin-top: 5rem;
  margin-bottom: 4rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  width: 100vw;
}
 


.testimonials h1{
  font-size: 3.5em;
  /* margin-top: 5rem; */
  font-weight: normal;
  text-transform: uppercase;
  padding: 3rem;
   /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
  font-size: 1.8rem !important;
}
}



.container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  width: 60%;
}



 .card{
  background-color: var(--secondaryColor3);
  border-radius: 10px;
  padding-bottom: 2vh;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  text-align: center;
}


.testimonials img{
  width: 70%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding: 1rem;
  /* margin: 0; */
  justify-content: center;
}


.card h3{
  color: var(--secondaryColor4);
  margin-bottom: 2vh;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1vh;
  text-align: center;
}


.card p{
  color: var(--secondaryColor4);
  margin-bottom: 2vh;
  padding: 1vh;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

span{
  color: var(--secondaryColor1);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}